.sideHeader
  .sideHeader__box
    .sideHeader__box__userName
      hogehoge
    %ul{class: "sideHeader__box__menu"}
      %li
        %i{class: "fa fa-pencil-square-o", :aria-hidden => "true"}
      %li
        %i{class: "fa fa-cog", :aria-hidden => "true"}
.sideContent
  .sideContent__box
    %h2{class: "sideContent__groupName"}
      group hoge
    %h4{class: "sideContent__messageBox"}
      hoge message