.sideHeader
  .sideHeader__box
    .sideHeader__box__userName
      hogehoge
    %ul.sideHeader__box__menu
      %li
        %i.fa.fa-pencil-square-o{:aria-hidden => "true"}
      %li
        %i.fa.fa-cog{:aria-hidden => "true"}
.sideContent
  .sideContent__box
    %h2.sideContent__box__groupName
      group hoge
    %h4.sideContent__box__messageBox
      hoge message