!!! 5
%html
  %head
    %meta(charset="utf-8")
    %title Chat Space
    = stylesheet_link_tag "application", media: "all"
    -# Reference for myself https://ruby-rails.hatenadiary.com/entry/20141001/1412097051
  %body
    .sideBar
      .sideHeader
        .sideHeader__box
          .sideHeader__box__userName
            hogehoge
          %ul{class: "sideHeader__box__menu"}
            %li
              %i{class: "fa fa-pencil-square-o", :aria-hidden => "true"}
            %li
              %i{class: "fa fa-cog", :aria-hidden => "true"}
      .sideContent
        .sideContent__box
          %h2{class: "sideContent__groupName"}
            group hoge
          %h4{class: "sideContent__messageBox"}
            hoge message
    .mainContent
      .mainHeader
        .mainHeader__rightBox
          %h2{class: "mainHeader__groupName"}
            group hoge
          %h4{class: "mainHeader__groupMember"}
            name: hogehoge, hogeee, hogege, hogee
        .mainHeader__editButton
          EDIT
      .mainMessageLender
        .mainMessageLender__upperBox
          %p{class: "mainMessageLender__upperBox__nameBox"}
            jack
          %p{class: "mainMessageLender__upperBox__timestamp"}
            1993/5/2 20:31
        .mainMessageLender__messageBox
          this is my message
      .mainForm
        .mainForm__box
          .mainForm__box__innerBox
            .mainForm__box__innerBox__message
              type a text
            %label{class: "mainForm__box__innerBox__message__image"}
              %i{class: "fa fa-picture-o fa-lg", :aria-hidden => "true"}
          .mainForm__box__button
            SEND