.main-content{
  width:  calc(100% - #{$side-content-width});
  height: 100vh;
  left: $side-content-width;
  position: fixed;

  .main-header{
    height: 100px;
    padding: 0 40px;
    border-bottom: solid 1px #eee;
    display: flex;

    .main-header-right-box{
      width: calc(100% - 80px);

      .main-header-group-name{
        font-size: 20px;
        padding-top: 35px;
        color: #333333;
      } 
      
      .main-header-group-member{
        font-size: 12px;
        padding-top: 15px;
        color: $small-gray;
      }      
    }
    
    .main-header-edit-button{
      height: 40px;
      padding: 0 20px;
      margin-top: 28px;
      line-height: 40px;
      border: solid 1px #87cefa;
      color: #87cefa;
    }
  }
  
  .main-message-lender{
    height: calc(100vh - 100px - 60px);
    background: #fafafa;
    padding: 46px 40px 0 40px;
    overflow: scroll;
    
    .main-message-lender-upperbox{
      font-size: 16px;
      margin-bottom: 10px;
      display: flex;
      
      .upperbox-namebox{
        font-size: 16px;
        font-weight: bold;
      }
      
      .upperbox-timestamp{
        font-size: 14px;
        margin-left: 10px;
        color: $small-gray;
      }
    }
    
    .main-message-lender-messagebox{
      font-size: 14px;
      margin-bottom: 40px;
    }
  }
  
  .main-type-form{
    height: 80px;
    background: #C0C0C0;
    padding: 0 40px;
    position: sticky;
    bottom: 0;
    
    .main-type-form-box{
      padding-top: 15px;
      clear: both;
      display: flex;
      
      .main-type-form-innerbox{
        height: 50px;
        background: $main-white;
        line-height: 50px;
        width: calc(100% - 115px);
        display: flex;
        
        .message{
          background: $main-white;
          line-height: 50px;
          color: #434a54;
          padding: 0 0 0 10px;
          width: calc(100% - 50px);
        }
        
        .message-image{
          line-height: 50px;
          text-align: center;
        }
      }
      
      .main-type-form-button{
        background: #38Aef0;
        margin-left: 15px;
        height: 50px;
        width: 90px;
        font-weight: bold;
        line-height: 50px;
        text-align: center;
        font-size: 14px;
        color: $main-white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }      
    }
  }
}
