.mainContent{
  width:  calc(100% - #{$sideContent-width});
  height: 100vh;
  left: $sideContent-width;
  position: fixed;

  @import "mainHeader";

  .mainMessageLender{
    height: calc(100vh - 100px - 60px);
    background: #fafafa;
    padding: 46px 40px 0 40px;
    overflow: scroll;
    
    .mainMessageLender__upperBox{
      font-size: 16px;
      margin-bottom: 10px;
      display: flex;
      
      .mainMessageLender__upperBox__nameBox{
        font-size: 16px;
        font-weight: bold;
      }
      
      .mainMessageLender__upperBox__timestamp{
        font-size: 14px;
        margin-left: 10px;
        color: $small-gray;
      }
    }
    
    .mainMessageLender__messageBox{
      font-size: 14px;
      margin-bottom: 40px;
    }
  }
  
  @import "mainForm";
}
